:root {
  --width-content: 800px;
  --color-background: #fdfdfd;
  --color-box-background: #f1f1f1;
  --color-tech-highlight: #1982ee;
  --color-cook-highlight: #eea019;
  --color-game-highlight: #ee3619;
  --color-text: #090202;
}

@font-face {
  font-family: Cascadia;
  src:url(fonts/Cascadia.ttf);
}

@font-face {
  font-family: OpenSans;
  src:url(fonts/OpenSans-Regular.ttf);
}

body {
  background-color: #343f56;
  font-family: OpenSans;
}

.header {
  width: var(--width-content);
  height: 200px;
  margin-left:auto;
  margin-right: auto;
  background-color:var(--color-background);
  border-radius: 2px;
  box-shadow: 4px 4px 4px var(--color-text),
              inset 1px 1px var(--color-text),
              inset -1px -1px var(--color-text),
              inset 16px 0px var(--color-tech-highlight);
}

.my-photo {
  object-fit: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.hide-hyperlink-highlight {text-decoration: none;}
.hide-hyperlink-highlight:link {color: var(--color-text);}
.hide-hyperlink-highlight:visited {color: var(--color-text);}
.hide-hyperlink-highlight:hover {color: var(--color-text);}
.hide-hyperlink-highlight:active {color: var(--color-text);}

.my-description {
  height: 200px;
  width: 600px;
  display: inline-block;
  position: absolute;
}

.my-description > p,h1 {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0px;
}

.menu {
  position:absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.menu > ul {
  display: flex;
  height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-icon {
  width: 48px;
  height: 48px;
}

.menu-button {
  width: 100%;
}

.menu-button > a {
  display: inline-block;
  width:100%;
  line-height:40px;
  text-decoration: none;
  text-align: center;
  font-size: 1.6em;
  font-family: Cascadia;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.menu-button > a:hover, .menu-button > a:active {
  background-color: var(--color-background);
  color: var(--color-text);
}

.icon-tray {
  bottom: 36px;
  left:440px;
}

.tech-highlight {
  background-color: var(--color-tech-highlight);
  color: var(--color-background);
}

.cook-highlight {
  background-color: var(--color-cook-highlight);
  color: var(--color-background);
}

.game-highlight {
  background-color: var(--color-game-highlight);
  color: var(--color-background);
}

.feed {
  width: var(--width-content);
  margin: 0 auto;
}

.container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /*transform: skewY(2deg);*/
  background-color: var(--color-background);
  border-radius: 2px;
  box-shadow: 4px 4px 4px var(--color-text),
              inset 1px 1px var(--color-text),
              inset -1px -1px var(--color-text),
              inset 16px 0px var(--color-tech-highlight);
}

.container {
  position: relative;
  padding: 10px 0 40px 10px;
  margin: 0 0 20px 0;
}

.title {
  display: inline-block;
  height: auto;
  margin: 20px 0 20px -40px;
  padding: 0 16px 0 8px;
  border-radius: 2px 4px 4px 2px;
}

.title > h1 {
  margin: 2px;
}

.content {
  color: var(--color-text);
  margin-top: -20px;
  padding: 0 30px 0 30px;
}

figure {
  margin: 0;
}

figure > img {
  max-width: 100%;
}

figure > figcaption {
  display: none;
}

.title-date {
  float: right;
  margin: 30px 30px 0 30px;
}

pre {
/*  background-color: var(--color-box-background);*/
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

code {
  font-size: 1.2em;
  padding: 0 0.5em;
  color: #cccccc;
  background-color: #303030;
  white-space: pre-wrap; }

pre > code {
  padding: 0;
/*  background-color: transparent;*/
  white-space: pre; }

