
:root {
/*
  --color-tech-highlight: #1982ee;
  --color-cook-highlight: #eea019;
  --color-life-highlight: #ee3619;
*/

  --background-body: #fdfdfd;
}

@font-face {
  font-family: Cascadia;
  src:url(fonts/Cascadia.ttf);
}

@font-face {
  font-family: OpenSans;
  src:url(fonts/OpenSans-Regular.ttf);
}

body {
  font-family: OpenSans;
  font-size: 125%;
  line-height: 1.45em;
  font-weight: 400;
  max-width: unset !important;
}

.holy-grail {
  display: grid;
  grid-template: auto 1fr auto / 1fr fit-content(960px) 1fr;
  gap: 20px;
  align-items: start;
}

header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.sidebar {
  grid-column: 1 / 2;
  margin: 40px;
  border-right: 2px solid var(--links);
  margin-top: 24px;
  font-size: 18px;
  min-width: 256px;
  max-width: 350px;
}

main {
  max-width: 960px;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* remove last space to make kofi button align with end of previews */
main > .post-preview:last-child > div:last-child > p:last-child {
  margin-bottom: 0;
}

/* remove last space to make kofi button align with end of article */
main > article > div.article-content > p:nth-last-child(2) { margin-bottom: 0; }
main > article > div.article-content > p:last-child { margin: 0; }

.right-sidebar {
  grid-column: 3 / 4;
}

footer {
  grid-column: 1 / 4;
}

/* DESCRIPTION */
.mobile-header {
  display: none;
}

.description-container {
  display: grid;
  place-items: left;
}

.description-photo-container {
  align-self: center;
  grid-row: 2;
}

.description-photo {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("./imgs/myface.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.description-text-container {
  grid-row: 2;
  display: grid;
  place-items: center;
  word-wrap: anywhere;
}

.description-text-container > h1 {
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-30%);
}

.description-text-container > p {
  padding: 0 10px 0 10px;
}

.description-name {
  grid-row: 1;
  grid-column: span 2;
  margin-top: 0;
  margin-bottom: 0;
}

.description-links {
  grid-row: 3;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin-right: 42px;
}

.description-links > a:hover {
  text-decoration: none;
}

.description-links > a > img {
  height: 28px;
  width: 28px;
}

/*MENU, CATEGORY BUTTONS*/
.tag-container {
  display: flex;
  flex-direction: column;
}

.tech-highlight {
}

.cook-highlight {
}

.life-highlight {
}

/*KOFI DONATIONS*/
.kofi-donations {
  display: block;
  grid-column: 1 / 2;
  margin-left: 40px;
}

.kofi-donations img {
  width: 180px;
}

.kofi-donations p {
  margin-top: 0;
}

.footer-kofi-donations {
  display: none;
}

@-webkit-keyframes wobble-on-hover {
  16.65% {
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg);
  }
  33.3% {
    -webkit-transform: rotate(-10deg); 
    transform: rotate(-10deg);
  }
  49.95% {
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg);
  }
  66.6% {
    -webkit-transform: rotate(-10deg); 
    transform: rotate(-10deg);
  }
  83.25% {
    -webkit-transform: rotate(2deg); 
    transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
  }
}
@keyframes wobble-on-hover {
  16.65% {
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg);
  }
  33.3% {
    -webkit-transform: rotate(-10deg); 
    transform: rotate(-10deg);
  }
  49.95% {
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg);
  }
  66.6% {
    -webkit-transform: rotate(-10deg); 
    transform: rotate(-10deg);
  }
  83.25% {
    -webkit-transform: rotate(2deg); 
    transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
  }
}
.wobble-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-on-hover:hover, .wobble-on-hover:focus, .wobble-on-hover:active {
  -webkit-animation-name: wobble-on-hover;
  animation-name: wobble-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*ARTICLE*/


.post-preview {
  max-width: 960px;
}

article {
  max-width: 960px;
  grid-column: 2 / 3;
  grid-row: 1 / span 3;
}

.title {
}

.preview-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article-info {
  display: flex;
}

.article-info > * {
  flex: 50%;
}

.article-info > *:first-child {
  text-align: left;
}

.article-info > *:nth-child(2) {
  text-align: right;
}

.article-date {
  margin: 0;
}

.article-content > p {
  /*letter-spacing: 1px;*/
  text-align: justify;
}

div.sourceCode {
  background-color: var(--content-background); /*override Pandoc's background visible in the corner of code blocks*/
}

figcaption {
  display: none; /*do not show Pandoc's image captions*/
}

footer > p {
  float: left;
  margin: 0;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column/multiple-column layout */
@media (max-width: 700px) {
  .sidebar {
    display: none;
  }

  .mobile-header {
    display: inherit;
	width: 100%;
    grid-column: 2 / 3;
  }

  .description-photo-container {
    align-self: center;
    grid-row: 2;
    grid-column: span 1;
  }

  .description-name {
    align-self: center;
    grid-row: 2;
    grid-column: span 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  .description-links {
    justify-content: space-around;
    display: flex;
    gap: 4%;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-right: 0px;
    border-bottom: 1px solid black;
  }

  .footer-kofi-donations {
    display: block;
    grid-column: 2 / 3;
    margin-left: auto;
    margin-right: auto;
  }

  .kofi-donations {
    display: none;
  }

  .sourceCode {
    overflow: scroll !important;
    width: 91vw;
  }

  code.sourceCode {
    width: 86vw;
  }
}

/* Reusable classes for article body */

/* Center image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.youtube-video-size {
  width: 100%;
  aspect-ratio: 560 / 315;
  max-width: 560px;
