<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

$METADATA$

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css" />
	<link rel="stylesheet" type="text/css" href="$BASE_URL$/style.css" />
</head>
<body class="holy-grail">

	$HEADER$

	<div class="sidebar">
		<div class="description-container">
			<h2 class="description-name">¡Hola, soy Nepo!</h2>
			<div class="description-photo-container">
				<a href="$BASE_URL$/index.html">
					<div class="description-photo"></div>
				</a>
			</div>
			<div class="description-text-container">
				<p>Escribo sobre juegos, software, QA, tecnología y cocina.</p>
			</div>
			<div class="description-links">
				<a href="https://github.com/edearth/">
					<img src="$BASE_URL$/imgs/icon-github.svg"/>
				</a>
				<a href="https://gamedev.lgbt/@nepo" rel="me">
					<img src="$BASE_URL$/imgs/icon-mastodon.svg"/>
				</a>
				<a href="https://twitter.com/JNepormoseno">
					<img src="$BASE_URL$/imgs/icon-twitter.png"/>
				</a>
				<a href="$BASE_URL$/feed.atom">
					<img src="$BASE_URL$/imgs/icon-feed.png"/>
				</a>
				<a href="https://edearth.itch.io/">
					<img src="$BASE_URL$/imgs/icon-itchio.svg"/>
				</a>
			</div>
		</div>
		<p><a href="$BASE_URL$/subscribe.html">✉️ ¡Suscríbete a la newsletter!</a></p>
	</div> 

	<main>

$CONTENT$

	</main>

	<div class="right-sidebar"></div>
	<div class="kofi-donations">
		<p>Liked what you read?</p>
		<a href="https://ko-fi.com/jnepo" target="_blank">
			<img class="wobble-on-hover" src="$BASE_URL$/imgs/kofi-button.webp" />
		</a>
	</div>
	<div class="footer-kofi-donations">
		<p>Liked what you read?</p>
		<a href="https://ko-fi.com/jnepo" target="_blank">
			<img src="$BASE_URL$/imgs/kofi-button.webp" />
		</a>
	</div>
	<footer>
		<p>Volver a la <a href="$BASE_URL$/index.html">lista de artículos</a></p>
	</footer>
</body>
</html>
