	<form method="post" action="https://newsletter.jnepo.dev/subscription/form" class="listmonk-form">
		<div>
			<h3>Newsletter</h3>
			<p>¿Quieres recibir un email cada vez que escriba un nuevo artículo? ¡Deja aquí tu dirección!</p>
			<input type="hidden" name="nonce" />
			<p><input type="email" name="email" required placeholder="E-mail" /></p>
			<p style="display:none;">
				<input id="d5e6f" type="checkbox" name="l" checked value="d5e6f550-d8bb-4bb8-a6ea-beb181bb40a3" />
				<label for="d5e6f">Nepo's blog</label>
			</p>

			<div class="captcha">
				<div class="h-captcha" data-sitekey="180ce052-1619-4515-af8e-7c429b94cd00"></div>
				<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
			</div>

			<p><input type="submit" value="Subscribirse" /></p>
		</div>
	</form>
